*    { margin:0; padding:0; }
pre  { padding: 10px; }

#container {
  width: 980px;
  min-height: 500px;
  margin: 50px auto;
}

#footer {
  width: 100%;
  text-align: center;
  font: 10px;
  color: grey;
}

.snip-box {
  float: left;
  width: 200px;
  margin: 5px;
  padding: 5px;
  word-wrap: break-word;
  background: #FFF;
  border: 1px solid #BEBEBE;
}

.snip-box pre {
  margin-bottom: 10px;
}

.snip-box .op {
  text-align: right;
  width: 100%;
  font-size: 8px;
  background: #F0F0F0;
}
